bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
UnityMemorySnapshotThing/Properties/launchSettings.json
UnityMemorySnapshotThing/Properties/PublishProfiles/FolderProfile.pubxml
UnityMemorySnapshotThing/Properties/PublishProfiles/FolderProfile.pubxml.user
UnityMemorySnapshotThing/UnityMemorySnapshotThing.csproj
UnityMemorySnapshotThing/UnityMemorySnapshotThing.csproj.user
/.vs
